<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
    <link rel="stylesheet" href="/static/css/background-black.css" type="text/css">
</head>
<body>
<header th:replace="~{hf/header}"></header>
<section class="section-excursion-1">
    <div class="container-fluid">
        <div class="container">
            <div class="row d-flex">
                <div class="heading col-4">
                    <p>Фотогалерея</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-excursion-2">
    <div class="container-fluid">
        <div class="container">
            <!--
            <div class="form">
                <div class="right-column">
                    <div class="button">
                        <a href="#">Тип</a>
                    </div>
                    <div class="button">
                        <a href="#">Текущие</a>
                    </div>
                    <div class="button">
                        <a href="#">Выбрать дату</a>
                    </div>
                </div>
            </div>
            <div class="row align-content-center">
                <div class="item col-4">
                    <a href="#">
                    <div class="body">
                        <div class="intro">
                            <img src="/static/exc1.jpeg" class="img-fluid" style="border-radius: 10px">
                        </div>
                        <div class="heading">
                            <p class="text">Выставки «Право выбора. Краткая история российского народовластия»</p>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="item col-4">
                    <a href="#">
                        <div class="body">
                            <div class="intro">
                                <img src="/static/exc1.jpeg" class="img-fluid" style="border-radius: 10px">
                            </div>
                            <div class="heading">
                                <p class="text">Выставки «Право выбора. Краткая история российского народовластия»</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="item col-4">
                    <a href="#">
                        <div class="body">
                            <div class="intro">
                                <img src="/static/exc1.jpeg" class="img-fluid" style="border-radius: 10px">
                            </div>
                            <div class="heading">
                                <p class="text">Выставки «Право выбора. Краткая история российского народовластия»</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            -->
            <div id="carouselCabinet" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/static/cabinet/1.jpg" class="d-block w-100 img-fluid" alt="..." style="height: 600px; object-fit: cover;">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Фотогалерея</h5>
                        </div>
                    </div>
                    <div class="carousel-item" th:each="i : ${#numbers.sequence( 2, 63)}">
                        <img th:src="@{/static/cabinet/{name}.jpg(name=${i})}" class="d-block w-100 img-fluid" alt="..." style="height: 600px; object-fit: cover;">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 th:text="'Фото ' + ${i}"></h5>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselCabinet" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselCabinet" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</section>
<footer th:replace="~{hf/footer}"></footer>
<script src="/static/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>